/* Estilo básico e reseta margens */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff99cc 50%, #99ccff 50%);
}

.quiz-container {
  background: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #333; /* Neutro */
  padding: 10px 0;
  font-size: 24px;
}

.hidden {
  display: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff66b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff3385;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

label {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
}

input[type="radio"] {
  margin-right: 10px;
}

.options {
  text-align: left;
  margin-top: 15px;
}

#result h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#final-message {
  font-size: 18px;
  color: #333;
}

a {
  text-decoration: none;
  background-color: #66b3ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  margin-top: 15px;
}

a:hover {
  background-color: #3385ff;
}

.reveal-container {
  background-color: #99ccff;
  color: white;
  text-align: center;
  padding: 50px;
  border-radius: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.reveal-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.reveal-container p {
  font-size: 24px;
  margin-top: 20px;
}

.animation {
  font-size: 36px;
  margin-top: 30px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}



